/* body */

.body-manage-files {
    position: relative;
    height: 97vh;
    overflow: hidden;
}

small {
    color: #7c7c7c;
}

.table tbody > tr > td,
.table thead > tr > th {
    font-size: 13px !important;
    border: 0px !important;
}

.table tbody > tr > td > button > i {
    font-size: 22px !important;
}

/* login */
.body-login {
    height: 100vh;
    overflow: auto;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtYPL_Qu0d0kaLWVgHCdb4bqakTSxPROPZK2JgX86F25nncjeaDLcNn2La6hU-l1x8MjA&usqp=CAU");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    background-size: 300px;
}

/* Contenido */

.breadcrumb-nav-routes {
    position: absolute;
    bottom: 11px;
    right: 0;
    height: 35px;
}

.breadcrumb-nav-routes .breadcrumb {
    padding: 4px 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#navbarText span,
#navbarText span > i {
    cursor: pointer;
    color: red;
}

.shadow-sm {
    box-shadow: 0 7px 14px -3px rgb(203 203 203) !important;
}

.b-0 {
    border: 0px !important;
}

.main {
    height: 81vh;
    overflow: auto;
    margin: 0 !important;
    padding: 7pt 11pt;
}

.tabla-folders tbody > tr > td > a {
    color: black;
    text-decoration: none;
}

.tabla-folders tbody > tr > td > a:hover {
    color: #0d6efd;
    cursor: pointer;
}

.breadcrumb-item-subs {
    color: grey;
}

/* footer */

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 6px 15pt;
    background: whitesmoke;
}
/* Sidebar Styles */

.sidebar {
    position: absolute;
    left: 120px;
    width: 100%;
    height: 100vh;
    margin-left: -120px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar header {
    background-color: #f8f9fa;
    font-size: 20px;
    line-height: 52px;
    text-align: left;
}

.sidebar ul li {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgba(39,41,43,0.1);
    text-align: left;
}

.sidebar header a {
    color: rgb(94, 94, 94);
    display: block;
    padding-left: 0.5rem;
    font-size: 15px;
}

.sidebar .nav a {
    background: none;
    text-decoration: none;
    color: #212529;
    font-size: .875rem;
}

input[type="file"]{
    font-size: 12px;
}

input[type=checkbox] {
    cursor: pointer;
}

.nav li:hover {
    background-color: rgba(0,0,0,.075);
}

div#alertFolderId {
    position: absolute;
    bottom: 1.5rem;
    width: 60%;
    animation: slide-up-fade-in ease 1s;
}

@keyframes slide-up-fade-in{
    0% {
        opacity:0;
        transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
    }
}

.b-0.card.card-body {
    z-index: 2;
}

.btn-hidden, .btn-home { 
    border: 0;
    background: transparent;
    font-size: 13px;
    margin-left: 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
@media (max-width: 1182px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 912px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

.wrapper-child {
    display: grid;
    justify-content: center;
    align-items: center;
}
.folfer-icon {
    display: flex!important;
    font-size: 3rem;
    justify-content: center;
}

.files-width{
    width: 11rem;
}

.hidden-visual {
    display: none!important;
}

